html,
body {
    margin: 0;
    padding: 0;
    background: #333;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
}

#canvas.loaded {
    box-sizing: border-box;
    border: 6px solid #333;
    display: block;
    margin: 0 auto;
}
