html,
body,
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

#ide {
    display: flex; position: fixed; top: 0; left: 0; right: 0; bottom: 0; flex-direction: column;
}

/* IDE header */

#header {
    background: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#header h1 {
    font-size: 24px;
    margin: 0;
    margin-right: 20px;
    padding: 10px 0;
    font-family: Bungee Inline, Arial Black, sans-serif;
    text-transform: uppercase;
    display: inline-block;
}

#header h1 a {
    color: white;
    text-decoration: none;
}

#header h1 a:hover {
    text-decoration: underline;
}

#subheader {
    margin-left: 30px;
    padding-left: 30px;
    border-left: 1px solid #ddd;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#subheader a {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 30px 8px;
    border-radius: 5px;
}

#subheader a:hover {
    background: #333;
    text-decoration: underline;
}

/* Coding pane */

#MONACO_TEXTAREA {
    position: fixed;
    left: -1000px;
    top: -10000px;
    visibility: hidden;
}

/* Compilation pane */

#console-target {
    background-color: #333; width: 700px; height: 444px;
}

#console-target iframe {
    background: transparent; border: 0px none;
}

#console-advice {
    margin: 1em 0;
    text-align: center;
}

#console-target-actions {
    display: flex;
    flex-direction: row;
}

#console-target-actions .button-action {
    flex: 1;
}

.button-action {
    font-size: 18px;
    margin: 10px 8px;
    padding: 4px 16px;
    border: 1px solid inset;
    background: #eef;
}

/* About Page */

#about-page {
    margin: 0 auto 0;
    padding: 20px 0 30px;
    max-width: 40em;
    font-size: 1.3em;
    font-weight: 200;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
}

#about-page h2, #about-page h3, #about-page h4 {
    margin-top: 1.5em;
}
